* {
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

body {
    font-family: 'Bangers', cursive;
    font-size: 2rem;
}

.winner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(to right, #fdfc47, #24fe41);
    height: auto;
    width: auto;
    padding: 4rem 10rem;
    border-radius: 10px;
}

.text {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.active {
    visibility: hidden;
}